body {
    font-family: "Poppins", sans-serif;
    background-image: url("../imagens/genshinback.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(1px);
}

main {

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;

}

main > * {
    flex-shrink: 1;
}

/*
style to the top nav bar
*/

.top {
    text-align: center;
}

.navbar {
    height: 82px;
    margin: 50px auto;
    width: 900px;
    height: 50px;
    list-style: none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.litop {
    margin-top: 10px;
    display: inline-block;
}

li .topping {
    text-decoration: none;
    color: #375878;
    
    font-size: 20px;
    transition: 1s;
    padding: 25px 30px;
}

li a.topping:hover {

    transition: 1s;
    color: black;
    background: rgba(255, 255, 255, 0.7);
}

/*
style to text box
*/
.textcenter {
   
    margin: 50px auto;
    width: 800px;
    text-align: center;
    text-decoration: none;
    color: #375878;
    padding: 15px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 19px;

    font-weight: lighter;
    
}


/*
style to main cards on index page
*/
.val-archons {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}

.card-archon {
    display: none;

    max-width: 360px;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.card-archon.open {
    display: block;
}

.card-archon img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.card-archon .card-topo {

    padding: 30px 40px 0;
}

.card-archon .name {
    margin-bottom: 5px;
}

.card-archon .tipo {
    background-color: #ffffff;
    font-size: 12px;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
}

.card-archon .detalhes {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-archon .card-informacoes {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-archon .card-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6b727a;

}

.card-archon .card-informacoes .descricao {
    padding: 0 10px;
    font-size: 15px;
    max-height: 150px;
    overflow-y: scroll;
}

/*
this style will follow to the characters cards
*/

.type-dendro {
    background-color: #8EA664;


}

.type-geo {
    background-color: #D4B275;

}

.type-hydro {
    background-color: #63A3CF;

}

.type-anemo {
    background-color: #83B6B8;

}

.type-electro {
    background-color: #7C61B3;
}

.type-pyro {
    background-color: #C8715A;
}

.type-cryo {
    background-color: #93badf;
}

.listagem {

    max-width: 200px;


}

.listagem .archon img {
    width: 25%;

}

.listagem .archon {
    background-color: #6b727aba;
    color: #ffffff;


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;

    transition: 0.15 ease-in-out;

}

.listagem .archon:hover {
    transform: scale(1.05);

}

.listagem .archon span {
    padding-right: 20px;
}

.listagem .archon.active {
    background-color: #fa6668;
}

.listtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
}



/*
style to the bootom nav bar
*/

footer {
    width: 100%;
    color: #f5f5f5;

}

#footer_content {
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem, 3.5rem;
}

#footer_contents img {
    margin-bottom: 0.75rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    height: 80px;
    width: 140px;

}

#footer_social_media {
    display: flex;
    gap: 2rem;


}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.4%;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {

    background: linear-gradient(#7f37c9, #ff2992, #ff9807);

}

#youtube {
    background-color: #c4302b;
}

#twitterx {
    background-color: #000000;
}

.footer_list {
    color: #375878;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.textlist {
    color: #375878;

}

.footer_list .footer-link {
    color: #375878;
    transition: all 0.4%;
}

.footer_list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #375878;
    border: none;
    color: #f5f5f5;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4%;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 0.8rem;
    font-weight: inherit;
    padding: 1.5rem;
    color: #375878;

}

/*
style to characters cards - I decided to left the image go a little bit out of card, just for style 
*/

.card-characters {
    
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;

}

.card-characters div {
    flex: 1 1 200px;
    margin: 10px;
    transition: 0.15 ease-in-out;
}

.card-nation {

    display: block;
    max-width: 360px;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.card-nation:hover {
    transform: scale(1.30);
}



.card-nation img {
    width: 150%;

}

.card-nation .card-topo {

    padding: 10px 15px 0;
    margin-top: 10px;
}

.card-nation .name {

    color: #ffffff;


}

.card-nation .tipo {
    background-color: #ffffff;
    font-size: 12px;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
}

.card-nation .detalhes {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
Contact us page style
*/
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container form{
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}
.fa-envelope-open{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.input-group label{
    flex-basis: 28%;
}
.input-group input, .input-group textarea{
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}

form button{
    background: #375878;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}
.input-group span{
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red;
}

#submit-error{
    color: red;
}
.input-group span i{
    color: #8EA664;
}
